<div class="bjui-pageContent">
    <form action="<?=$this->url()?>" class="pageForm" data-toggle="validate">
        <input type="hidden" name="id" value="<?=$this->e($data[$pk])?>">
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td colspan="2" align="center"><h3>查看</h3></td>
                </tr>
                <?php foreach ($fields as $field) :?>
                <tr>
                    <td>
                        <!--<label for="<?=$field[0]?>" class="control-label x85"><?=$field[0]?>:</label>-->
                        <?=$field?>
                    </td>
                </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
    </ul>
</div>
<script type="text/javascript">
    function onCheckNode(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId),
            nodes = zTree.getCheckedNodes(true);
        var ids = '', names = '';
        for (var i = 0; i < nodes.length; i++) {
            ids   += ','+ nodes[i].id;
            names += ','+ nodes[i].name;
        }
        if (ids.length > 0) {
            ids = ids.substr(1);
            names = names.substr(1);
        }
        var $from_id = $('#'+ treeId).data('fromObj');
        if ($from_id && $from_id.length) $from_id.val(ids);
    }
    function onClickNode(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        zTree.checkNode(treeNode, !treeNode.checked, true, true);
        event.preventDefault();
    }
</script>
